@import "nv-mixins";
@import "calendar-block";
@import "calendar";
@import "search-block";

body {
  //background-color: #c7c3c0;
  background-color: white;
}


.nv-top-block {
  //height: 180px;
  width: 100%;
  background-color: #d4d3d1;
}



.nv-menu {
  overflow: hidden;
  .nv-menu-block {
    color: #00b5ad;
    //transform: translateX(10px);
    padding: 0 !important;
    margin: 0 !important;
    width: 25%;
    //min-height: 300px;
    //background-color: gray;
    img {
      width: 100%;;
    }
    &.nv-active {
      //background-color: white;
      //@include shadow(right, rgba(#928ce6, 0.15))
      @include pseudo-shadow(right, rgba(#928ce6, 0.15));
    }
    &.nv-one {
      @include nv-block-filter();
    }
    &.nv-two {
      //background-color: white;
      //@include nv-block-filter();
    }
    &.nv-three {
      //background-color: white;
      //@include nv-block-filter();
    }
    &.nv-four {
      //background-color: white;
      //@include nv-block-filter();
    }
  }
}



/* CENTER SECTION COLUMNS*/

.nv-left-column, .nv-center-column {
  height: 600px;
}
.nv-right-column {
  height: 1000px;
}


/* UTILS */

.nv-no-margin {
  margin: 0 !important;
}

.nv-no-padding {
  padding: 0 !important;
}


@keyframes cal-show {
  //0% { display: block;}
  100% { transform: translateX(0);  }
}
@keyframes cal-hide {
  100% { transform: translateX(-105%);  }
}
.cal-show {
  animation: cal-show 0.5s ease-in forwards;
}
.cal-hide {
  animation: cal-hide 2s ease-in  forwards;
  //display: none;
  //transform: translateX(-105%);
  left: -100%;
}
#cal {
  width: 100%;
  //position: relative;
  position: absolute;
  z-index: 10;
  left: -100%;
}